#contact.modal.hide.fade(tabindex="-1",role="dialog",aria-labelledby="contactLabel",aria-hidden="true")
	.modal-header
		button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
		h3#contactLabel Contact us!
	.modal-body
		p We have tried to make this site as complete as possible! However if we have missed anything, here is your opportunit to let us know. 
		| Click here to start an email with us: 
		a(href="mailto:tijana.andrew@gmail.com?Subject=AT%20Wedding%20Website") Tijana & Andrew!
