#contact.modal.hide.fade
	.modal-header
		button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
			h3 Click the link below to reach us!
	.modal-body
		a(href="mailto:tijana.andrew@gmail.com?Subject=AT%20Wedding%20Website") Contact Us!
