.masthead
	h3.muted Our Wedding Site!
	div.navbar
		dib.navbar-inner
			div.container
				ul.nav
					li.active
						a(href='/') Home
					li
						a(href='/ourpics') Our Pics
					li
						a(href='/venue') Venue Details
					li
						a(href='/rsvp') RSVP
					li
						a(href='#contact') Contact