.masthead
	h3.muted Our Wedding Site!
	.navbar
		.navbar-inner
			.container
				ul.nav
					li
						a(href='/') Home
					li
						a(href='/ourpics') Our Pics
					li
						a(href='/venue') Venue Details
					li
						a(href='/rsvp') RSVP
					li
						a(href='#contact',data-toggle='modal') Contact