extends layout

block content
	.row
		.span6
			img#detailsImg.imgBorder(src="/pics/01.jpg",alt="01.jpg")
		.span6
			h2 Wedding Day Events
			p.lead Location: Waterloo Inn
			p.lead Date: September 27, 2013
			p.lead Time: Ceremony @ 4pm; Reception @ 4:30pm; Dinner @ 6pm
			
			h3 Menu options
			p.lead When RSVP'ing, you will have the option to select an entree. RSVP now to see these options! 
			
			h3 Miscellaneous
			p.lead There will be appetizers before dinner, an open bar before & after dinner, and dancing after dinner.