extends layout

block content
	.row
		.span6
			img#detailsImg.imgBorder(src="/pics/01.jpg",alt="01.jpg")
		.span6
			h2 Wedding Day Events
			p.lead
				strong Location: 
				| Waterloo Inn
			p.lead
				strong Date: 
				| September 27, 2013
			p.lead 
				strong Time: 
				| Ceremony @ 4pm; Reception @ 4:30pm; Dinner @ 6pm
			p.lead
				strong RSVP Deadline: 
				| July 27, 2013
			
			h3 Menu options
			p.lead RSVP now to see the dinner options options! 
			
			h3 Miscellaneous
			p.lead There will be appetizers before dinner, an open bar before & after dinner, and dancing after dinner.