extends layout

block content
	.row
		.span6
			img#detailsImg.imgBorder(src="/pics/01.jpg",alt="01.jpg")
		.span6
			h2 Wedding Day Events
			p.lead
				strong 
					span(style="color:#00BFFF") Location: 
				| Waterloo Inn
			p.lead
				strong 
					span(style="color:#00BFFF") Date: 
				| September 27, 2013
			p.lead
				strong 
					span(style="color:#00BFFF") Time: 
				| Ceremony @ 4pm; Reception @ 4:30pm; Dinner @ 6pm
			p.lead
				strong 
					span(style="color:#00BFFF") RSVP Deadline: 
				| July 27, 2013