extends layout

block content
	.row
		.span6
			img.details(src="/pics/01.jpg",alt="01.jpg")
		.span6
			h2 Wedding Day Events
			p.lead Location: Waterloo Inn
			p.lead Date: September 27, 2013
			p.lead Time: Ceremony @ 4pm; Reception @ 4:30pm; Dinner @ 6pm
			
			h3 Menu options
			p.lead Appetizer: Caesar Salad
			p.lead Entree: Choice1 or Choice2
			p.lead Dessert: Chocolate Mousse
			
			h3 Miscellaneous
			p.lead There will be appetizers before dinner, an open bar before & after dinner, and dancing after dinner.