extends layout

block content
	h2 Kitchener-Waterloo Attractions
	.row
		.col-md-4
			h3 Beertown Restaurant
			a(href="http://www.charcoalgroup.ca/BT-Locations.htm")
				img.responsive.imgBorder(src="/pics/BT.jpg",alt="Beertown Restaurant beer taps")
		.col-md-4
			h3 DVLB cafe
			a(href="http://dvlb.ca/")
				img.responsive.imgBorder(src="/pics/dvlb.jpg",alt="DVLB espresso and whiskey")
		.col-md-4
			h3 Fionn MacCool's Pub
			a(href="http://www.primepubs.com/#/whats-on/?id=125")
				img.responsive.imgBorder(src="/pics/fionnmaccool.jpg",alt="Fionn MacCool's Pub")
	.row
		.col-md-4
			h3 Uptown Waterloo
			a(href="http://www.waterlootownsquare.com/")
				img.responsive.imgBorder(src="/pics/uptownwaterloo.jpg",alt="Uptown Waterloo")
		.col-md-4
			h3 Waterloo Park
			a(href="http://www.waterloo.ca/en/gettingactive/waterloopark.asp")
				img.responsive.imgBorder(src="/pics/waterloopark.jpg",alt="Waterloo Park")
		.col-md-4
			h3 Marble Slab Ice Cream
			a(href="http://marbleslab.ca/index.php/creamery/store_each/61")
				img.responsive.imgBorder(src="/pics/marbleslab.jpg",alt="Marble Slab Creamery")
	.row
		.col-md-4
			h3 St Jacob's
			a(href="http://www.stjacobs.com/farmers-market")
				img.responsive.imgBorder(src="/pics/stjacobs.jpg",alt="St Jacob's")
		.col-md-4
			h3 Conestoga Mall
			a(href="http://www.conestogamall.com/en-CA")
				img.responsive.imgBorder(src="/pics/conestoga.png",alt="Conestoga Mall")
		.col-md-4
			h3 The Boardwalk
			a(href="http://www.the-boardwalk.ca/")
				img.responsive.imgBorder(src="/pics/theboardwalk.jpeg",alt="The Boardwalk")
