extends layout

block content
	h2 Kitchener-Waterloo Attractions
	.row-fluid
		.span4
			h3 Beertown Restaurant
			a(href="http://www.charcoalgroup.ca/BT-Locations.htm")
				img.imgBorder(src="/pics/BT.jpg",alt="Beertown Restaurant beer taps")
		.span4
			h3 DVLB cafe
			a(href="http://dvlb.ca/")
				img.imgBorder(src="/pics/dvlb.jpg",alt="DVLB espresso and whiskey")
		.span4
			h3 Fionn MacCool's Pub
			a(href="http://www.primepubs.com/#/whats-on/?id=125")
				img.imgBorder(src="/pics/fionnmaccool.jpg",alt="Fionn MacCool's Pub")
	.row-fluid
		.span4
			h3 Uptown Waterloo
			a(href="http://www.waterlootownsquare.com/")
				img.imgBorder(src="/pics/uptownwaterloo.jpg",alt="Uptown Waterloo")
		.span4
			h3 Waterloo Park
			a(href="http://www.waterloo.ca/en/gettingactive/waterloopark.asp")
				img.imgBorder(src="/pics/waterloopark.jpg",alt="Waterloo Park")
		.span4
			h3 Marble Slab Ice Cream
			a(href="http://marbleslab.ca/index.php/creamery/store_each/61")
				img.imgBorder(src="/pics/marbleslab.jpg",alt="Marble Slab Creamery")
		