!!! 5
html(lang="en")
	head
		meta(charset="utf-8")
		title= pageTitle
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/css/customStyle.css')
		//if lt IE 9
			script(src='/js/html5shiv.js')
	body
		.container
			include includes/nav
			.jumbotron
				block content
			hr
			.footer
				oneDay = 1000*60*60*24
				countdown = Math.round((new Date('2013/09/27') - new Date())/oneDay)
				| See you in #{countdown} days!!!!
				
		include includes/contact.jade
		include includes/javascript.jade