extends layout

block content
	#engagementPics.carousel.slide(data-ride="carousel")
		.carousel-inner(role="listbox")
			.item.active.imgBorder
				img(src="/pics/05.jpg",alt="05.jpg")
			.item.imgBorder
				img(src="/pics/08.jpg",alt="08.jpg")
			.item.imgBorder
				img(src="/pics/10.jpg",alt="10.jpg")
			.item.imgBorder
				img(src="/pics/11.jpg",alt="11.jpg")
			.item.imgBorder
				img(src="/pics/16.jpg",alt="16.jpg")
			.item.imgBorder
				img(src="/pics/18.jpg",alt="18.jpg")
			.item.imgBorder
				img(src="/pics/19.jpg",alt="19.jpg")
			.item.imgBorder
				img(src="/pics/20.jpg",alt="20.jpg")
			.item.imgBorder
				img(src="/pics/21.jpg",alt="21.jpg")
			.item.imgBorder
				img(src="/pics/22.jpg",alt="22.jpg")
			.item.imgBorder
				img(src="/pics/26.jpg",alt="26.jpg")
			.item.imgBorder
				img(src="/pics/27.jpg",alt="27.jpg")
			.item.imgBorder
				img(src="/pics/28.jpg",alt="28.jpg")
			.item.imgBorder
				img(src="/pics/29.jpg",alt="29.jpg")
			.item.imgBorder
				img(src="/pics/33.jpg",alt="33.jpg")
			.item.imgBorder
				img(src="/pics/34.jpg",alt="34.jpg")
			.item.imgBorder
				img(src="/pics/37.jpg",alt="37.jpg")
			.item.imgBorder
				img(src="/pics/39.jpg",alt="39.jpg")
			.item.imgBorder
				img(src="/pics/41.jpg",alt="41.jpg")
			.item.imgBorder
				img(src="/pics/45.jpg",alt="45.jpg")
			.item.imgBorder
				img(src="/pics/50.jpg",alt="50.jpg")
			.item.imgBorder
				img(src="/pics/52.jpg",alt="52.jpg")
			.item.imgBorder
				img(src="/pics/53.jpg",alt="53.jpg")
			.item.imgBorder
				img(src="/pics/54.jpg",alt="54.jpg")
			.item.imgBorder
				img(src="/pics/55.jpg",alt="55.jpg")
			.item.imgBorder
				img(src="/pics/57.jpg",alt="57.jpg")
			.item.imgBorder
				img(src="/pics/58.jpg",alt="58.jpg")
			.item.imgBorder
				img(src="/pics/60.jpg",alt="60.jpg")
			.item.imgBorder
				img(src="/pics/61.jpg",alt="61.jpg")
			.item.imgBorder
				img(src="/pics/64.jpg",alt="64.jpg")
			.item.imgBorder
				img(src="/pics/66.jpg",alt="66.jpg")

    a.carousel-control.left(href="#engagementPics",role="button",data-slide="prev")
      span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
      span.sr-only Previous
    a.carousel-control.right(href="#engagementPics",role="button",data-slide="next")
      span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
      span.sr-only Next
