extends layout

block content
	h2 Check out our registry @
	.row
		.span4
		.span4
			a(href="http://www.honeyfund.com/wedding/andrewtijana")
				img(src="/pics/honeyfund.png",alt="Honeyfund Registry")