extends layout

block content
	h2 Check out our registries
	.row
		.span4
			h3 Registry A
			a(href="#")
				img(src="#",alt="Registry A")
		.span4
			h3 Registry B
			a(href="#")
				img(src="#",alt="Registry B")
		.span4
			h3 Registry C
			a(href="#")
				img(src="#",alt="Registry C")