extends layout

block content
	h2 Please let us know if you'll be able to attend.
	form
		p.lead Last Name
		input
		p.lead Email
		input
		p.lead Number of guests in your party
		input
		
		--foreach guest
		--Last Name
		--First Name
		--Meal Preference * Meal1, Meal2, Veggie
		--Dietary Restriction