extends layout

block content
	#rsvpContent
		h2 Are you attending?
		#alertError
		form#rsvp(name="rsvp", action="")
			.row-fluid
				.span4
					.control-group
						label.control-label(for="email") Contact email
						.controls
							input#email.required(type="email",name="email")
				.span4
					label.radio
						input#yes.required(type="radio",name="attending",value="yes")
						| Definitely!
					label.radio
						input#no(type="radio",name="attending",value="no")
						| No :(
				#submitGuests.span4
					input#submitRSVP.btn.btn-success(type="submit", value="Submit")
			#attendeeDetails