extends layoutresume

block content
  .row.middle
    img#extrasImg(src="/pics/TijanaJovicHeader2.jpg",alt="TijanaJovicHeader2.jpg")
  .container
    .row
      .panel.panel-blue
        .panel-heading
          h5 Web Design Portfolio
        .panel-body
          ul
            li Website: http://www.tijanaandrew.com/home
            li Github repo: https://github.com/andrewtijana/
    .row
        .panel.panel-blue
          .panel-heading
            h5 Education
          .panel-body
            Wilfrid Laurier University, BBA & BSc., 2004 to 2009
            ul
              li Learned Object Oriented Programming
              li Worked on projects from the business and computer science streams
              li Managed concurrent deadlines

            Wilfrid Laurier University, MBA, 2011 to 2013
            ul
              li Strengthened my networking and collaborating skills in group projects
              li Broadened my creative problem solving skills using learned techniques                li Successfully completed the part-time program while working full time
      .row
        .panel.panel-blue
          .panel-heading
            h5 Activities
          .panel-body
            Joint Health & Safety Committee, 2010 to 2014
            ul
              li Collaborated with other members during meetings and inspections
              li Elected co-chair as a result of networking
              li Managed meetings and directed issues to the appropriate targets

            First Aider, 2011 to 2014
            ul
              li Learned to triage medical situations and treat basic injuries
              li Volunteered to be a point of contact at work in the event of an emergency
      .row
        .panel.panel-blue
          .panel-heading
            h5 Volunteer
          .panel-body
            Junior Achievement, 2015
            ul
              li Took the initiative of leading activities (e.g. teaching entrepreneurship & common biz terms)
              li Individualized the curriculum to match skill levels and engage students
              li Coordinated with other counselors to ensure events ran smoothly

            We Day, 2010 and 2012
            ul
              li Sales representative selling Me2We products
              li Inventoried left-over merchandise


