!!! 5
html(lang="en")
	head
		meta(charset="utf-8")
		title= settings.title
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/css/customStyle.css')
		//if lt IE 9
			script(src='/js/html5shiv.js')
	body
		.container
			include includes/nav
			.jumbotron
				.loadingIcon
				.row
          img#detailsImg.imgBorder(src="/pics/TijanaJovicHeader.jpg",alt="TijanaJovicHeader.jpg")
        .row.purple.middle
          h5 My passion lies in collaborating with talented and motivated people who inspire me to learn from them and seek out creative new developments so that I may return the favour.
        .row.grey
          h5 Metrics & Reporting Analyst @ BlackBerry - 2012 to 2015:
        .row
          .col-md-6
            .panel.panel-green
              .panel-heading
                h5 Tool Development for Management
              .panel-body
                ul
                  li Developed tools to extract and present critical data to senior management.
                  li Required knowledge of data structures and stakeholder collaboration.
                  li Repetitive tasks were automated.
                  li More data was processed, faster.
          .col-md-6
            .panel.panel-green
              .panel-heading
                h5 Data Analysis and Aggregation
              .panel-body
                ul
                  li Analyzed and identified critical data sources used in reporting systems.
                  li Selected technologies to best manipulate and present the data (e.g. Cognos for presenting reports, SSIS for extracting/aggregating data).
        .row
          .col-md-6
            .panel.panel-green
              .panel-heading
                h5 Data Presentation
              .panel-body
                ul
                  li Presented the aggregated data in charts
                  li Setup automated tasks to send specific, customized reports to middle and upper management.
                  li Senior management indicated that, since I joined the team, metrics reporting added more value than in the past.
          .col-md-6
            .panel.panel-green
              .panel-heading
                h5 Resource Management Website
              .panel-body
                ul
                  li Developed an internal website for resource management.
                  li Consolidated cross team resource allocation tracking & saved each manager 16 hrs/month in reporting.
                  li Used NodeJS, CoffeeScript, Github, SQL  during implementation.

			hr
			.footer.grey
				| tijana.jovic@gmail.com

		include includes/contact.jade
		include includes/javascript.jade


