extends layout

block content
	.row
		.span6
			img#venue.imgBorder(src="/pics/waterlooInnCourtyard.jpg",alt="waterlooInnCourtyard.jpg.jpg")
		.span6
			h2 Venue: Waterloo Inn
			p.lead We have chosen the Waterloo Inn as our ceremony and reception venue. If you need to book a room, contact them by phone or email and tell them you are attending the Woolsey/Jovic wedding for the $139/night special rate.
			p.lead Address: 475 King Street North | Waterloo, Ontario, N2J 2Z5
			p.lead Phone: (519) 884-0220 | Toll-Free: 1-800-361-4708
			p.lead Email: 
				a(href="mailto:watinn@waterlooinn.com?Subject=Woolsey\/Jovic%20Wedding%20") watinn@waterlooinn.com
			a.btn.btn-large.btn-success(href="http://www.waterlooinn.com/") Waterloo Inn Website