#engagementPics,img#homeImg  {
	max-width:75%;
	width:auto;
	height:auto;
	margin:0 auto;
}
input.input-auto {
	width:auto;
}
img.venue, img.details {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border-style: solid;
	border-width: 3px;
}
img.venue {
	margin-top: 20px;
}
.guest {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	margin: 5px;
}

.error {
	border-color:#b94a48;
	color:#b94a48;
}

.middle {
	margin: 0 auto;
	text-align: center;
}